doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width")
		title Swap Puzzle Q.#{n}
		link(rel='stylesheet', href='swap_piece.css')
	body
		#container
			p Moves 
				span#moves 0
				span#best
			
			p#menu
				a#top(href="./index.html") Top
				span#reset Reset
			
			table#table
				for tr, i in q
					tr
						for td, j in tr
							td(id='p'+i+j) #{td === 0 : ' ' : td}
			
			#complete
				p Complete!
				p
					a#next(href="q" + (n + 1) + ".html") Next
					- var url = encodeURIComponent("http://sapphire-al2o3.github.io/SwapPuzzle/");
					a#tweet(href="https://twitter.com/share?url=" + url, target="_blank") Tweet
			
			h2 ANSWER
			table#answer
				for r in a
					tr
						for d in r
							td #{d === 0 ? ' ' : d}
			- var qq = q.reduce(function(a, b) { return a.concat(b); }, []);
			- var rule = []; for(var i = 0; i < 15; i++) rule[i] = qq.indexOf(-i) >= 0;
			h2 RULE
			ul#rule
				if rule[1]
					li <span>x</span>は隣と交換できる。
				if rule[2]
					li <span>&#8596;</span>は左右と交換できる。
				if rule[3]
					li <span>&#8597;</span>は上下と交換できる。
				if rule[4]
					li <span>&#8592;</span>は左と交換できる。
				if rule[5]
					li <span>&#8593;</span>は上と交換できる。
				if rule[6]
					li <span>&#8594;</span>は右と交換できる。
				if rule[7]
					li <span>&#8595;</span>は下と交換できる。
				if rule[8]
					li <span>e</span>は隣接する偶数と交換できる。
				if rule[9]
					li <span>o</span>は隣接する奇数と交換できる。
				if rule[10]
					li <span>#</span>は隣接する数字と交換できる。
				if rule[11]
					li <span>&#8626;</span>は左か上と交換できる。
				if rule[12]
					li <span>&#8624;</span>は左か下と交換できる。
				if rule[13]
					li <span>&#8627;</span>は右か上と交換できる。
				if rule[14]
					li <span>&#8625;</span>は右か下と交換できる。
				
				li クリックしてピースの場所を入れ替える。
				li 答えと同じ配置にするとクリア。
			
			script(src="swap_piece.js")
			script.
				var a = #{JSON.stringify(a)}, q = #{JSON.stringify(q)};
				start(q, a);
